.wrapper {
  width: 100%;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    mat-form-field {
      &:first-of-type {
      }

      textarea {
        height: 100px;
        font-size: 12px;

        &:read-only {
          background-color: lightgray;
          border: none;
          border-radius: 5px;
          padding: 10px;
        }
      }
    }
  }
}
