.wrapper {
  width: 100%;

  form {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    mat-form-field {
      display: block;

      &:first-of-type {
      }

      textarea {
        height: auto;
        font-size: 12px;

        &:read-only {
          background-color: lightgray;
          border: none;
          border-radius: 5px;
          padding: 10px;
        }
      }
    }

    button {
      display: block;
      width: auto;
    }
  }
}

code {
  white-space: pre;
}
