<div class="wrapper">
  <mat-form-field appearance="fill">
    <mat-label>Server to override</mat-label>
    <mat-select [(ngModel)]="selectedServer" name="server-select">
      <mat-option *ngFor="let server of servers, let index" [value]="server.value">
        {{server.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form action="">
    <mat-form-field class="example-full-width">
      <mat-label>Override Object</mat-label>
      <textarea rows="3" [rows]="5" (keyup)="onKey($event)" matInput></textarea>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="submit()">submit</button>
</div>
