<div class="result-wrapper">
  <div class="result-header">
    <span>Service 1</span>
    <span>Service 2</span>
    <span>Service 3</span>
    <span></span>
  </div>
  <div class="result-header">
    <span>{{results.nrOfReqsServer1}}</span>
    <span>{{results.nrOfReqsServer2}}</span>
    <span>{{results.nrOfReqsServer3}}</span>
    <span></span>
  </div>
  <div class="result-table">
    <div class="result-block" *ngFor="let result of results.res, trackBy:identify">
      <span [ngClass]="{'server1': result.server1 === true, 'pending': result.server1 === undefined }"></span>
      <span [ngClass]="{'server2': result.server2 === true, 'pending': result.server2 === undefined }"></span>
      <span [ngClass]="{'server3': result.server3 === true, 'pending': result.server3 === undefined }"></span>
      <span>{{result.index}}</span>
    </div>
  </div>
</div>
