.result-wrapper {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  .result-block {
    display: inline-block;

    span {
      border: 1px solid gray;
      width: 25px;
      height: 25px;
      display: block;

      &:last-of-type {
        height: auto;
        padding: 0;
        font-size: 10px;
        text-align: center;
      }
    }

    .server1 {
      background-color: green;
    }

    .server2 {
      background-color: blue;
    }

    .server3 {
      background-color: red;
    }

    .pending {
      background-color: grey;
    }
  }

}
