<div class="server-wrapper">
  <table mat-table [dataSource]="servers" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let server"> {{server.host}} </td>
    </ng-container>

    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> health</th>
      <td mat-cell *matCellDef="let server">
        <mat-icon *ngIf="server.available">favorite</mat-icon>
        <mat-icon *ngIf="!server.available">healing</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="connections">
      <th mat-header-cell *matHeaderCellDef> #of conns.</th>
      <td mat-cell *matCellDef="let server"> {{server.metrics.connections}} </td>
    </ng-container>

    <ng-container matColumnDef="cpuUsage">
      <th mat-header-cell *matHeaderCellDef> CPU Usage</th>
      <td mat-cell *matCellDef="let server"> {{server.metrics.cpuUsage}}%</td>
    </ng-container>

    <ng-container matColumnDef="memoryUsage">
      <th mat-header-cell *matHeaderCellDef> Memory Usage</th>
      <td mat-cell *matCellDef="let server"> {{server.metrics.memoryUsage}}%</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br/>
  <span>Total Requests {{totalRequests}}</span>
</div>
